<div class="row">
  <div class="col-sm-12">
    <h1>Yo, Search for Artists</h1>
  </div>
</div>

<div class="row" ng-controller="SearchCtrl">
  <form role="form" novalidate>
    <div class="col-xs-8 col-sm-9 col-md-10">
      <input type="text" class="form-control input-lg" placeholder="artist name" ng-model="artist">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <button type="submit" class="btn btn-lg btn-primary" ng-click="search(artist)">Search</button>
    </div>
  </form>
</div>
